.div{

    &-prods-update{
        margin-top: 3rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 12px;
    }
}

.options{

    &-body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 50vh;
    }

    &-ul{
        display: flex;
        flex-flow: column nowrap;
        gap: 12px;
    }

    &-li{
        width: 100%;
        background-color: black;
        text-align: center;
        padding: 8px;
        border-radius: 6px;
    }

    &-button{
        color: #fff;
        font-size: 24px;
        text-decoration: none;
    }
}

.hidden{
    display: hidden;
}

.container-update{
    display: flex;
    flex-flow: column wrap;
    // justify-content: center;
    align-content: center;
    flex: 1;
    margin-top: 3rem;

    & h3{
        font-size: 26px;
        margin-bottom: 3rem;
    }
}

.each-link{

    &-prod{
        width: fit-content;
        

        & a{
            font-size: 18px;
            text-decoration: none;
        }
    }
}