.table-summary{
    border-collapse: collapse;
    width: 95%;
    & td, th{
        text-align: center;
        font-size: 90%;
        border: 1px solid black;
    }
}

.table-expenses{
    border-collapse: collapse;
    
    & td, th{
        text-align: center;
    }
}

.title-summary{
    text-align: center;
    margin: 4rem 0;
    font-size: 24px;
}

.method{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    width: fit-content;
    padding: 4px;
}

.div{

    &-methods{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
        gap: 10px;
    }

    &-cashregister{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 4rem;
        border: 1px solid black;
        width: fit-content;
        padding: 6px;
        gap: 8px;
    }

    &-info-sale{
        display: flex;
        flex-flow: row nowrap;
    }

    &-expenses{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-top: 4rem;

        & span{
            text-align: center;
            margin-bottom: 3rem;
            font-size: 19px;
        }
    }

    &-input-expenses{
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
        justify-items: center;
        gap: 12px;
        margin: auto;

        & button{
            width: fit-content;
            align-self: center;

        }
    }
    
    &-total-sale{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 4rem;
        width: 80%;
    }
}

.span-amount-total{
    margin-left: 10px;
}

.each-month{
    text-decoration: none;
}

.btn{
    &-generate-expense{
        border: none;
        padding: 6px;
        border-radius: 4px;
        background-color: #3E92A3;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    &-add-expense{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    }
}