.div{

    &-usuario{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        gap: 16px;

        &-field{
            display: flex;
            flex-flow: row nowrap;
            width: 300px;
            justify-content: space-between;

        }
    }
}

.hide{
    display: none;
}