.container-prod{
    display: flex;
    // flex-flow: column wrap;
    // justify-content: center;
    // align-content: center;
    width: 100%;
}

.div{

    &-prod{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
}



.each-field{

    &-update{
        display: flex;
        flex-flow: row nowrap;
        width: 400px;

        &-text{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            margin: 10px 0;

            & span{
                font-size: 24px;
                font-weight: bold;
            }
        }

        &-input{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            margin: 10px 0;   
        }
    }
}

.hide{
    display: none;
}

.btn{

    &-edit-prod{
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    &-update-prod{
        background-color: green;
        cursor: pointer;
    }

    &-cancel-update{
        cursor: pointer;
        background-color: transparent;
        color: red;
    }
}

.options-edit{
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}