<div class="container-home">


{{> nav user=user btnInicio=btnInicio}}
<div class="body-form">
    <h3>Crear producto</h3>
    <form id="formAddProd" class="form">
        <div class="form-field">
            <label>Nombre del producto</label>
            <input type="text" name="title" id="titleInput">
        </div>
        <div class="form-field">
            <label>Precio de costo</label>
            <input type="number" name="costPrice" id="inptCostPrice" >
        </div>
        <div class="form-field">
            <label>Precio de venta</label>
            <input type="number" name="sellingPrice" id="inptSellingPrice" oninput="changePercentage(event)" >
        </div>
        <div class="form-field">
            <label>Stock en tienda</label>
            <input type="number" name="stock">
        </div>
        <div class="form-field">
            <label>Total stock</label>
            <input type="number" name="totalStock">
        </div>
        <div class="form-field">
            <label>Porcentaje de ganancia</label>
            <input type="number" name="percentage" id="inptPercentage" oninput="changeSellingPrice(event)">
        </div>
        <div class="form-field">
            <label>Código</label>
            <input type="number" name="code">
        </div>
        <div class="form-button">
            <button onclick="createProd(event)">Crear producto</button>
        </div>
        <div id="divError" class="div-error"></div>
    </form>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/crudprods.js"></script>