<div class="body-form">
    <form class="form" id="formSingin">
        <div class="form-field">
            <label>Nombre de usuario</label>
            <input type="text" name="user_name">
        </div>
        <div class="form-field">
            <label>Contraseña</label>
            <input type="password" name="password">
        </div>
        <div class="form-button">
            <button onclick="logIn(event)" class="btn">Ingresar</button>
        </div>
        <div id="divError" class="div-error"></div>
    </form>
</div>

<script src="/js/form.js"></script>