<div class="container-home">

{{> nav user=user btnInicio=btnInicio}}

<div class="body-form">
    <h3>Crear usuario</h3>
    <form class="form" id="formRegister">
        <div class="form-field">
            <label>Nombre</label>
            <input type="text" name="name">
        </div>
        <div class="form-field">
            <label>Nombre de usuario</label>
            <input type="text" name="user_name">
        </div>
        <div class="form-field">
            <label>Contraseña</label>
            <input type="password" name="password">
        </div>
        <div class="form-button">
            <button onclick="singUp(event)" class="btn">Crear usuario</button>
        </div>
    </form>
        <div id="div-error" class="div-error"></div>
</div>
</div>

<script src="/js/form.js"></script>