<div class="container-prod">
    {{> nav user=user admin=admin btnInicio=btnInicio}}

    <div class="div-prod">
        <h4>Resumen del {{category}} {{#if summary.month}} {{mes}} {{else}} {{summary.date}} {{/if}}</h4>
        
    </div>
</div>