<div class="container-home">
    {{> nav user=user admin=admin}}
    <div class="container-update">

        <h3>Resúmenes {{category}}</h3>
        {{#if summaries}}
    {{> pagination hasNextPage=hasNextPage hasPrevPage=hasPrevPage nextPage=nextPage prevPage=prevPage page=page }}
    <div>

    {{#each summaries}}
        <div>
            <a href="/show/summary/{{this._id}}">Resumen del mes {{this.month}}</a>
            
        </div>
    {{/each}}
        {{else}}
        <span>Todavía no se han generado resúmenes</span>
        {{/if}}
    </div>
    </div>
</div>