<div class="container-home">
    {{> nav user=user btnInicio=btnInicio}}

    <div class="container-update">
        <h3>Productos</h3>
        {{> pagination hasNextPage=hasNextPage hasPrevPage=hasPrevPage nextPage=nextPage prevPage=prevPage page=page }}
        <div class="div-prods-update">
            {{#each products}}
            <div class="each-link-prod">
                <ul>
                    <li><a href="/update/prod/{{this._id}}">{{this.title}}</a></li>
                </ul>
            </div>
        {{/each}}
        </div>

    </div>
</div>
<script src="/js/crudprods.js"></script>